.idea/misc.xml
.idea/MMXSide.iml
Data/BSR/BSDS500/data/GroundTruth/ProcessedData
Data/BSR/BSDS500/data/images/ProcessedData
Data/ADEChallengeData2016/*
Data/MetaLearnerData/*
Data/VOC/*
./idea/workspace.xml